@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--page-bg-color: rgb(223, 222, 235);
	--box-bg-color: white;
	--border-color: lightgray;
	--temp-high-color: darkorange;
	--temp-low-color: lightseagreen;
	--link-color: lightseagreen;
	--link-hover-color: darkseagreen;
	--focus-color: darkseagreen;
	--cta-color: rgb(65, 56, 171);
}

p, h1, h2 {
	color: rgb(70, 70, 70);
}

.blurb p, .under-da-hood p, .blurb h1, .under-da-hood h2 {
	margin-bottom: 1rem;	
}

*:focus {
	outline: none;
	@apply ring-1 ring-focus-color;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

nav {
	height: 5vh;
	border-bottom: 1px solid var(--border-color);
}

main {
	flex: 1;
	background-color: var(--page-bg-color);
}

main a {
	color: var(--temp-low-color);
	transition: color .2s;
}

main a:hover {
	color: var(--temp-high-color);
	transition: color .2s;
}

footer {
	height: 5vh;
	margin-top: auto;
	border-top: 1px solid var(--border-color);
}

/* Section styles */
.wrapper {
	max-width: 1200px;
}
.blurb {
	padding: 1.5rem 2rem;
	border: 1px solid var(--border-color);
	border-radius: 3px;
}
.block-style {
	padding: 1.5rem 2rem;
	border: 1px solid var(--border-color);
	border-radius: 3px;
	background-color: var(--box-bg-color);
}

/* Blurb section styles */
.cta {
	@apply px-4 py-2 drop-shadow hover:drop-shadow-sm active:drop-shadow-none;
	border: 1px solid var(--border-color);
	border-radius: 3px;
	background: var(--cta-color);
	color: snow;

}

/* Data section styles */
.current {			
	border: 1px solid var(--border-color);
	margin-bottom: 1rem;
	padding: 1.5rem;
	border-radius: 3px;
	background-color: white;
}
.weather-card {
	background-color: white;
	border: 1px solid var(--border-color);
	border-radius: 3px;
}
.temp-high {
	color: var(--temp-high-color);
}
.temp-low {
	color:  var(--temp-low-color);
}

/* icons */
.current-icon {
	font-size: 3rem;
	color: lightgrey;
}
.forecast-icon {
	font-size: 1.5rem;
	color: lightgrey;
}