@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--page-bg-color: whitesmoke;
	--box-bg-color: white;
	--border-color: lightgrey;
	--temp-high-color: darkorange;
	--temp-low-color: lightseagreen;
	--link-color: lightseagreen;
	--focus-color: darkseagreen;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

nav {
	border-bottom: 1px solid var(--border-color);
	height: 5vh;
}

main {
	background-color: var(--page-bg-color);
	height: 85vh;
	flex: 1;
}

footer {
	border-top: 1px solid var(--border-color);
	height: 10vh;
	margin-top: auto;
}

/* Section styles */
.wrapper {
	max-width: 1200px;
}
.blurb {
	padding: 1.5rem 2rem;
	border: 1px solid var(--border-color);
	border-radius: 3px;
}
.data {
	padding: 1.5rem 2rem;
	border: 1px solid var(--border-color);
	border-radius: 3px;
	/*background-color: lightcyan;*/
	background-image: <>;
	min-height: 70vh;
}

/* Blurb section styles */
.blurb p, .blurb h1 {
	margin-bottom: 1rem;
}
.blurb p a {
	color: var(--link-color);
}
.blurb p a:hover {
	text-decoration: underline;
}
.blurb p a:focus {
	outline: 1px solid var(--focus-color);
}
.cta {
	border: 1px solid var(--border-color);
	border-radius: 3px;
}

/* Data section styles */
.current {			
	border: 1px solid var(--border-color);
	margin-bottom: 1rem;
	padding: 1.5rem;
	border-radius: 3px;
	background-color: white;
}
.weather-card {
	background-color: white;
	border: 1px solid var(--border-color);
	border-radius: 3px;
}
.temp-high {
	color: var(--temp-high-color);
}
.temp-low {
	color:  var(--temp-low-color);
}

/* icons */
.current-icon {
	font-size: 3rem;
	color: lightgrey;
}
.forecast-icon {
	font-size: 1.5rem;
	color: lightgrey;
}